<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <div class="jumbotron">
    <p class="lead">프로젝트 기간: 채용설명회 다음날인 3/28(목) ~ 3/31(일) 새벽</p>
    <p class="lead">기술스택: Java 17, Spring Boot, JPA, MySQL, HTML, Thymeleaf, Heroku</p>
    <span style="display: block;">채용설명회를 보고 입사하고 싶은 마음이 커짐과 동시에 </span>
    <span style="display: block;">쇼핑몰 아이디어가 떠올라 약 3일동안 제작한 개인프로젝트입니다. </span>
    <span style="display: block;">CJ ONSTYLE 사이트를 보면서 추가적으로 있었으면 하는 기능들을</span>
    <span style="display: block;">간단하게 구현해봤습니다.</span>
    <span style="display: block;">어드민 ID : iwantjoin</span>
    <span style="display: block;">어드민 PW : cjons</span>

  </div>
  <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>