<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader :: bodyheader" />
    <span style="display: block;">딱히 찾는 상품이 없을지라도 다른 사람이 작성한 리뷰를 보고 구매 욕구가 생길 수 있다고 생각합니다.</span>
    <span style="display: block;">실제 사이트의 리뷰에는 사진과 상품 화면으로의 링크가 포함되면 더 좋을 것 같습니다.</span>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>회원</th> <th>상품명</th> <th>리뷰</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.user.userId}"></td>
                <td th:text="${review.orderItem.item.name}"></td>
                <td th:text="${review.content}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>